"/air/Library/Application Support/espanso/match/private.yml" filter=git-crypt diff=git-crypt
"/termux/.newsboat/config" filter=git-crypt diff=git-crypt

#git show file with git-crypt
# git-crypt unlock
# git show HEAD:air/Library/Application\ Support/espanso/match/private.yml | cat